img {
    width: 100%;
    height: 200px;
}

.photo {
    width: 100px;
    height: 80px;
}

#taille {
    width: auto;
    padding: 0;
    margin: 0;
}

#taille img {
    width: 100px;
}

#taille > div {
    display: inline;
    width: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

header {
    z-index: 3;
}

.montre-moi {
  display: none;
}

.hidden {
  display: none;
}

.back {
    background-color: beige;
}
 #affiche-ancien {
  cursor: pointer;
 }